.login {
  padding: 0px 100px;
}

.login .navbar {
  margin-bottom: 50px;
}

.login a {
  text-decoration: none;
  border: solid 1px navy;
  border-radius: 10px;
  color: navy;
  font-weight: 600;
}

.login .app_name_header {
  color: #2f70bb;
  font-size: 23pt;
  font-weight: 800;
}

.login .btn_redirect a {
  margin: 0 10px;
  padding: 5px;
  float: right;
}

.login .desc_1 {
  font-size: 30pt;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(7, 157, 180);
  font-weight: 600;
}

.login .desc_2 {
  font-size: 16pt;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 10px;
  color: navy;
}

.login .title {
  text-align: center;
  font-size: 20pt;
  margin-bottom: 25px;
  padding-left: 5px;
  font-weight: 600;
  margin-top: 10px;
}

.login .col_field {
  margin: 10px;
  padding: 0px !important;
}

.login .btn_login {
  background-color: navy !important;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 60%;
  margin-top: 10px;
}


@media (max-width: 660px) {
  .login {
    padding: 0px 60px;
  }

  .login .navbar {
    margin-bottom: 5px;
  }

  .login .btn_redirect {
    margin: 5px 0px;
  }
}

@media (max-width: 450px) {
  .login {
    padding: 10px 20px;
  }

  .login .navbar {
    margin-bottom: 20px;
  }

  .login .desc_1 {
    font-size: 16pt;
  }

  .login .desc_2 {
    font-size: 10pt;
    margin-top: 10px;
  }
}
