.widget{
    padding: 20px 0px 20px 20px;
    flex: 0.2;
    margin-top: 100px;
}

.card_topic{
    padding: 15px;
    background-color: #f9f9f9ee;
    border: solid 1px  #f9f9f9ee;
    border-radius: 10px;
}

.label_topic{
    font-weight: 800;
    margin-bottom: 10px;
    color: rgb(43, 43, 43) !important;
}

.list_topic{
    margin: 10px 0px;
}

.link_topic{
    color:#2f70bb !important;;
 
    font-size: 12pt;
    text-decoration: none;
    font-weight: 600;
}

.link_topic:hover,
.link_topic:focus
{
    color: #1f4b7e !important;
    text-decoration: none;
}
